.navbar {
  padding: -5.5rem;
  &-collapse {
    justify-content: end;
  }
  &__logo {
    width: 70%;
    @media only screen and (max-width: $bp-small) {
      width: 100%;
    }
  }
}

.nav-link {
  text-transform: uppercase;
  color: $color-white !important;
  letter-spacing: 0.0625rem;
  font-weight: 500 !important;
  &:hover {
    color: $color-primary !important;
  }
}
.nav-item {
  &:not(:last-child) {
    margin-right: 1rem;
  }
}
.navbar-brand {
  width: 25%;
  @media only screen and (max-width: $bp-small) {
    width: 50%;
  }
}
